<div class="search-form">
    <form nz-form [formGroup]="searchForm" class="ant-advanced-search-form" (submit)="onSearchTeams()">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="5">
                <nz-form-item>
                    <nz-form-label nzFor="name">Name</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputClearName">
                            <input nz-input formControlName="name" (ngModelChange)="onTeamNameFilter($event)"
                                [nzAutocomplete]="autoTeam" />
                            <nz-autocomplete [nzDataSource]="filteredTeamNames" #autoTeam></nz-autocomplete>
                        </nz-input-group>
                        <ng-template #inputClearName>
                            <span *ngIf="searchForm.get('name')?.value" nz-icon class="ant-input-clear-icon"
                                nzTheme="fill" nzType="close-circle" (click)="clearInputName()"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="7">
                <nz-form-item>
                    <nz-form-label nzFor="teamDl">Team DL</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputClearTeamDL">
                            <input nz-input formControlName="teamDl" (ngModelChange)="onTeamDlsFilter($event)"
                                [nzAutocomplete]="autoTeamDl" />
                            <nz-autocomplete [nzDataSource]="filteredTeamDls" #autoTeamDl></nz-autocomplete>
                        </nz-input-group>
                        <ng-template #inputClearTeamDL>
                            <span *ngIf="searchForm.get('teamDl')?.value" nz-icon class="ant-input-clear-icon"
                                nzTheme="fill" nzType="close-circle" (click)="clearInputTeamDl()"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="7">
                <nz-form-item>
                    <nz-form-label nzFor="remark">Remark</nz-form-label>
                    <nz-form-control>
                        <nz-input-group [nzSuffix]="inputClearRemark">
                            <input nz-input formControlName="remark" (ngModelChange)="onTeamRemarksFilter($event)"
                                [nzAutocomplete]="autoRemark" />
                            <nz-autocomplete [nzDataSource]="filteredTeamRemarks" #autoRemark></nz-autocomplete>
                        </nz-input-group>
                        <ng-template #inputClearRemark>
                            <span *ngIf="searchForm.get('remark')?.value" nz-icon class="ant-input-clear-icon"
                                nzTheme="fill" nzType="close-circle" (click)="clearInputRemark()"></span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="5">
                <nz-space>
                    <button type="submit" *nzSpaceItem nz-button nzType="primary">
                        <span nz-icon nzType="search" nzTheme="outline"></span>
                        Search
                    </button>
                    <button *nzSpaceItem nz-button nz-tooltip nzTooltipTitle="Reset" nzType="default" (click)="resetSearchForm()">
                        <span nz-icon nzType="clear" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nz-tooltip nzTooltipTitle="Add a Team" nzType="default" (click)="openTeamAddDrawer()">
                        <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
                    </button>
                </nz-space>
            </div>
        </div>
    </form>
</div>

<div class="floating-div" [ngClass]="{'show': showFloatingAddBtnFlag}">
    <button nz-button nzSize="large" nz-tooltip nzTooltipPlacement="left" nzTooltipTitle="Add a Team" nzType="primary" nzShape="circle" (click)="openTeamAddDrawer()">
        <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
    </button>
</div>

<nz-table 
    [nzData]="displayTeams" 
    [nzFrontPagination]="false"
    [nzPageSize]="teamPageSize" 
    [nzPageIndex]="currentPageIndex" 
    [nzTotal]="filteredTeamCount" 
    (nzPageIndexChange)="onPageIndexChange($event)" 
    id="tableDiv">
    <thead>
        <tr>
            <th>
                Name
                <nz-badge nzStandalone [nzOverflowCount]="badgeOverflowCount" [nzCount]="filteredTeamCount"></nz-badge>
            </th>
            <th>Team DL</th>
            <th>Remark</th>
            <th class="operation-column">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of displayTeams">
            <td>
                <button class="mr-8" nz-button nzType="default" (click)="viewTeamMembers(data.id)">
                    <span nz-icon nz-tooltip nzTooltipTitle="View team members" nzType="ordered-list"
                        nzTheme="outline"></span>
                </button>
                <span>{{data.name}}</span>
            </td>
            <td>
                <div *ngIf="data.teamDls && data.teamDls.length > 0">
                    <div *ngFor="let dl of data.teamDls">
                        <span>{{dl}} </span>
                        <span nz-icon nz-tooltip nzTooltipTitle="Copy this DL" nzType="copy" nzTheme="outline" (click)="copyDl(dl)"></span>
                    </div>
                </div>
            </td>
            <td>
                <pre class="pre-label-font pre-label-breakline">{{data.remark}}</pre>
            </td>
            <td>
                <nz-space>
                    <button *nzSpaceItem nz-button nzType="default" (click)="openTeamEditDrawer(data.id)">
                        <span nz-icon nzType="edit" nzTheme="outline"></span>
                    </button>
                    <button *nzSpaceItem nz-button nzDanger nz-popconfirm
                        nzPopconfirmTitle="Are you sure delete this team?" (nzOnConfirm)="deleteTeam(data.id)"
                        nzPopconfirmPlacement>
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                </nz-space>
            </td>
        </tr>
    </tbody>
</nz-table>


<!-- team member drawer start -->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="teamMembersDrawerWidth"
    [nzVisible]="teamMembersDrawerVisible" [nzTitle]="selectedTeam.name + ' - Team Members'" 
    [nzExtra]="addTeamMemberBtn" (nzOnClose)="closeTeamMembersDrawer()">

    <ng-template #addTeamMemberBtn>
        <button class="mr-8" *ngIf="selectedTeam!.id && selectedTeam!.persons! && selectedTeam!.persons!.length > 0" nz-button nzType="default" nzSize="large" (click)="chatWithTeamMembers(selectedTeam!.id)">
            <span nz-icon nz-tooltip nzTooltipTitle="Chat with Team Members" nzType="message" nzTheme="outline"></span>
        </button>

        <button class="mr-8" *ngIf="selectedTeam!.id && selectedTeam!.persons! && selectedTeam!.persons!.length > 0" nz-button nzType="default" nzSize="large" (click)="mailToAllTeamMembers(selectedTeam!.id)">
            <span nz-icon nz-tooltip nzTooltipTitle="Send an Email to Team Members" nzType="mail" nzTheme="outline"></span>
        </button>

        <button class="mr-8" *ngIf="bbContributionUrl && selectedTeam!.id && selectedTeam!.persons! && selectedTeam!.persons!.length > 0" nz-button nzType="default" nzSize="large" (click)="viewBbContributionOfAllTeamMembers(selectedTeam!.id)">
            <span nz-icon nz-tooltip nzTooltipTitle="View code delivery of this team" nzType="code" nzTheme="outline"></span>
        </button>

        <button *ngIf="selectedTeam!.id" nz-button nzType="primary" nzSize="large" (click)="openPersonAddDrawer()">
            <span nz-icon nz-tooltip nzTooltipTitle="Add Team Members" nzType="plus-circle" nzTheme="outline"></span>
        </button>
    </ng-template>

    <ng-container *nzDrawerContent>
        <nz-table [nzData]="selectedTeam!.persons!" nzShowPagination="false">
            <thead>
                <tr>
                    <th>SOE ID</th>
                    <th>
                        Name
                        <nz-badge nzStandalone [nzOverflowCount]="badgeOverflowCount" [nzCount]="selectedTeam!.persons?.length"></nz-badge>
                    </th>
                    <th>Location</th>
                    <th class="remark-column">Remark</th>
                    <th class="operation-column">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of selectedTeam!.persons!">
                    <td>
                        <button class="mr-8" *ngIf="data.soeId" nz-button nzType="default" (click)="copyString(data.soeId)">
                            <span nz-icon nz-tooltip nzTooltipTitle="Copy SOE ID" nzType="copy"
                                nzTheme="outline"></span>
                        </button>
                        <button class="mr-8" *ngIf="bbContributionUrl && data.soeId" nz-button nzType="default" (click)="viewBbContribution(data.soeId)">
                            <span nz-icon nz-tooltip nzTooltipTitle="View code delivery" nzType="code" nzTheme="outline"></span>
                        </button>
                        <span>{{data.soeId}}</span>
                    </td>
                    <td>
                        <button class="mr-8" *ngIf="data.soeId" nz-button nzType="default" (click)="openTeamsWindow(data.soeId)">
                            <span nz-icon nz-tooltip nzTooltipTitle="Chat in Teams" nzType="message"
                                nzTheme="outline"></span>
                        </button>
                        <button class="mr-8" *ngIf="data.soeId" nz-button nzType="default" (click)="openMailBox(data.soeId, data.name)">
                            <span nz-icon nz-tooltip nzTooltipTitle="Send an Email" nzType="mail" nzTheme="outline"></span>
                        </button>
                        <button class="mr-8" *ngIf="data.soeId" nz-button nzType="default" (click)="copyString(data.name)">
                            <span nz-icon nz-tooltip nzTooltipTitle="Copy Name" nzType="copy"
                                nzTheme="outline"></span>
                        </button>
                        <span>{{data.name}}</span>
                    </td>
                    <td>{{data.locationName}}</td>
                    <td><pre class="pre-label-font pre-label-breakline">{{data.remark}}</pre></td>
                    <td>
                        <nz-space>
                            <button *nzSpaceItem nz-button nzType="default" (click)="openPersonEditDrawer(data.id)">
                                <span nz-icon nzType="edit" nzTheme="outline"></span>
                            </button>
                            <button *nzSpaceItem nz-button nzDanger nz-popconfirm
                                nzPopconfirmTitle="Are you sure delete this person?" (nzOnConfirm)="deletePerson(data.id)"
                                nzPopconfirmPlacement>
                                <span nz-icon nzType="delete" nzTheme="outline"></span>
                            </button>
                        </nz-space>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </ng-container>
</nz-drawer>
<!-- team member drawer end -->

<app-contacts-person-edit [personAddOrEditDrawerVisible]="personAddOrEditDrawerVisible" [addOrEditMode]="addOrEditMode"
    [defaultPerson]="selectedPerson" [defaultTeam]="selectedTeam" [teams]="teams" [locations]="locations" (submitPersonEvent)="submitPersonForm($event)"></app-contacts-person-edit>


<!-- team edit drawer start -->
<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="editDrawerWidth"
    [nzVisible]="teamAddOrEditDrawerVisible" [nzTitle]="addOrEditMode === 'Edit' ? 'Edit Team Details' : 'Add a Team'" [nzFooter]="footerTpl"
    (nzOnClose)="closeTeamAddOrEditDrawer()">

    <form nz-form *nzDrawerContent nzLayout="vertical" [formGroup]="validateTeamForm">
        <div class="api-details-div">
            <nz-form-item>
                <nz-form-label>Team Name</nz-form-label>
                <nz-form-control nzErrorTip="Team name is required">
                    <input nz-input formControlName="name" placeholder="Input team name" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Team DL</nz-form-label>
                <nz-form-control>
                    <textarea nz-input formControlName="teamDl"
                        placeholder="Input team mailbox"
                        value={{selectedTeam.teamDl}} nzAutosize></textarea>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label>Remark</nz-form-label>
                <nz-form-control>
                    <textarea nz-input formControlName="remark"
                        placeholder="Input remark for team such as the responsibility of it"
                        value={{selectedTeam.remark}} nzAutosize></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
    </form>

    <ng-template #footerTpl>
        <div style="float: right">
            <button nz-button style="margin-right: 8px;" (click)="closeTeamAddOrEditDrawer()">Cancel</button>
            <button nz-button nzType="primary" [disabled]="!validateTeamForm.valid"
                (click)="submitTeamForm()">Submit</button>
        </div>
    </ng-template>
</nz-drawer>
<!-- team edit drawer end -->
