.layout {
    min-height: 100vh;
}

.logo-text {
    width: 145px;
    height: 100%;
    color: white;
    font-size: 20px;
    float: left;
}

.ui-maker-header {
    z-index: 999;
    min-width: 830px;
}

.dropdown-list {
    min-width: 180px;
    margin-left: 1vw;
}

nz-header {
    position: fixed;
    width: 100%;
}

.ant-layout-header {
    padding: 0 50px !important;
}

.ui-marker-body {
    margin-top: 80px;
}

nz-footer {
    text-align: center;
}
