<nz-content>
    <div class="site-page-header-ghost-wrapper">
        <nz-page-header [nzGhost]="false">
            <nz-page-header-title>
                Function Pages
                <nz-tag [nzColor]="'#1890ff'">{{ filteredFunctionPages.length }}</nz-tag>
            </nz-page-header-title>
            <nz-page-header-subtitle></nz-page-header-subtitle>
            <nz-page-header-extra>
                <nz-space>
                    <nz-select *ngIf="applicationScopeType === scopeTypeMarket"
                        [nzDisabled]="isOperationDisabled"
                        class="mr-8 min-w-150"
                        nzMode="multiple"
                        nzPlaceHolder="Select Market"
                        (ngModelChange)="marketChange($event)"
                        [(ngModel)]="listOfSelectedMarket">
                        <nz-option *ngFor="let market of applicationMarkets" [nzLabel]="market" [nzValue]="market"></nz-option>
                    </nz-select>
                    <nz-select *ngIf="applicationScopeType === scopeTypeRegion"
                        [nzDisabled]="isOperationDisabled"
                        class="mr-8 min-w-150"
                        nzMode="multiple"
                        nzPlaceHolder="Select Region"
                        (ngModelChange)="regionChange($event)"
                        [(ngModel)]="listOfSelectedRegion">
                        <nz-option *ngFor="let region of applicationRegions" [nzLabel]="region" [nzValue]="region"></nz-option>
                    </nz-select>
                    <nz-select *nzSpaceItem class="dropdown-list min-w-100" nzShowSearch nzAllowClear nzPlaceHolder="Page View Type"
                        (ngModelChange)="viewTypeChange($event)" [(ngModel)]="selectedViewType" [nzDisabled]="isOperationDisabled">
                        <nz-option *ngFor="let viewType of pageViewTypes" [nzValue]="viewType" [nzLabel]="viewType"></nz-option>
                    </nz-select>
                    <nz-segmented *nzSpaceItem [nzOptions]="listingTypeOptions" (nzValueChange)="changeListingType($event)" [nzDisabled]="isOperationDisabled"></nz-segmented>
                    <button *nzSpaceItem nz-button nzType="primary" [disabled]="isOperationDisabled" (click)="openUploadDialog()">
                        <span nz-icon nzType="upload" nzTheme="outline"></span>
                        Upload a Page
                    </button>
                </nz-space>
            </nz-page-header-extra>
        </nz-page-header>
    </div>
</nz-content>
    
<div *ngIf="filteredFunctionPages.length == 0">
    <nz-content>
        <div class="inner-content content-body">
            <nz-empty></nz-empty>
        </div>
    </nz-content>
</div>
<div *ngIf="filteredFunctionPages.length > 0">
    <nz-content>
        <div class="inner-content content-body">
            <nz-image-group>
                <div nz-row *ngIf="pageListViewType === 'Grid'">
                    <div nz-col [nzXs]="nzXsSize" [nzSm]="nzSmSize" [nzMd]="nzMdSize" [nzLg]="nzLgSize" [nzXl]="nzXlSize" *ngFor="let page of filteredFunctionPages" [ngClass]="gridViewCardClass">
                        <div class="page-image-header mb-5">
                            {{page.pageDesc}}
                        </div>
                        <div class="page-image-body">
                            <a><img nz-image class="page-img-grid-view" alt="image" nzSrc="{{imageBaseUrl}}{{page.imageFileUri}}" [nzFallback]="fallback"/></a>

                            <nz-space class="page-image-options">
                                <button *nzSpaceItem nz-button nzType="dashed" nzDanger nz-popconfirm
                                    nzPopconfirmTitle="OK to remove all the items about this page?"
                                    (nzOnConfirm)="removePageImage(page.imageFileUri)">
                                    <span nz-icon nzType="delete"></span>
                                </button>
                                <button *nzSpaceItem nz-button nzType="primary"
                                    (click)="viewPageDetails(page.imageFileUri, page.pageViewType || '')">
                                    <span nz-icon nzType="eye"></span>
                                    Details
                                </button>
                            </nz-space>
                        </div>
                    </div>
                </div>


                <div *ngIf="pageListViewType === 'List'">
                    <div nz-row *ngFor="let page of filteredFunctionPages" class="page-list-div">
                        <div nz-col nzSpan="12" class="image-card">
                            <div class="page-image-header mb-5">
                                {{page.pageDesc}}
                            </div>
                            <div class="page-image-body">
                                <a><img nz-image class="page-img-list-vew" alt="image" nzSrc="{{imageBaseUrl}}{{page.imageFileUri}}" [nzFallback]="fallback"/></a>
                            </div>
                        </div>
                        <div nz-col nzSpan="12" class="image-card list-card">
                            <nz-space>
                                <button *nzSpaceItem nz-button nzType="dashed" nzDanger nz-popconfirm
                                    nzPopconfirmTitle="OK to remove all the items about this page?"
                                    (nzOnConfirm)="removePageImage(page.imageFileUri)">
                                    <span nz-icon nzType="delete"></span>
                                </button><br>
                                <button *nzSpaceItem nz-button nzType="primary"
                                    (click)="viewPageDetails(page.imageFileUri, page.pageViewType || '')">
                                    <span nz-icon nzType="eye"></span>
                                    Details
                                </button>
                            </nz-space>
                        </div>
                    </div>
                </div>
            </nz-image-group>
        </div>
    </nz-content>
</div>

<app-upload-image 
    [imageUploadURI]="imageUploadURI" 
    [uploadParams]="setFileUploadParams" 
    (afterUploadedAction)="afterImageUpload($event)" 
    [uploadNotes]="imageUploadNotes" 
    [selectedPageViewType]="selectedViewType" 
    [showPageTitle]="showPageTitleWhenUpload"
    [applicationScopeType]="applicationScopeType"
    [selectedMarket]="selectedMarket"
    [selectedRegion]="selectedRegion"
></app-upload-image>

